
h1{
    background-color: black;
    font-family: 'Caveat', cursive;
    text-align: center;
    color: white;
}
p{
    text-align: center;
    color: white;
}
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 50%;
    border: 2px solid white;
}